button path,
.button path {
  fill: var(--text-base-lightest);
}

.main-content {
  display: flex;
  align-items: stretch;
  padding: 0;
  background: var(--bg-base-darker);
  color: var(--text-base-lightest);
}
.timeline-labels {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  border-right: 1px solid var(--bg-base-dark);
}
.timeline {
  flex-grow: 1;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}
.toolbar {
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}


.toolbar {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toolbar button,
.toolbar button + button {
  display: block;
  margin: 6px 0 0;
}

.timeline-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 2px solid var(--bg-base-dark);
  padding: 6px;
  overflow: hidden;
}
.timeline-label select {
  max-width: 100%;
  overflow: hidden;
}
.timeline-label option {
  white-space: pre-wrap;
  /* hide text that can't wrap with an ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeline-wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.timeline-row {
  width: 100%;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  border-bottom: 2px solid var(--bg-base-dark);
}
.timeline-row .year {
  box-sizing: border-box;
  border-right: 1px solid var(--bg-base-dark);
  flex-basis: 400px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}
.timeline-row button.word {
  font-size: 0.7rem;
  padding: 2px 4px;
}

.sub-collection {
  height: 33vh;
  min-height: 200px;
}
.biography {
  height: 10vh;
  min-height: 60px;
}
.years {
  height: 40px;
}
