button path,
.button path {
  fill: var(--text-base-lightest);
}

.main-content {
  display: flex;
  align-items: stretch;
  padding: 0;
  background: var(--bg-base-darker);
  color: var(--text-base-lightest);
}
.toolbar {
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}
.timeline {
  flex-grow: 1;
}

.toolbar {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toolbar button,
.toolbar button + button {
  display: block;
  margin: 6px 0 0;
}

.timeline-row {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  border-bottom: 2px solid var(--bg-base-dark);
}
.timeline-row .timeline-label {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-right: 2px solid var(--bg-base-dark);
  padding: 6px;
  overflow: hidden;
}
.timeline-label select {
  max-width: 100%;
  overflow: hidden;
}
.timeline-label option {
  white-space: pre-wrap;
  /* hide text that can't wrap with an ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;

}
.timeline-row .timeline-data {
  flex-grow: 1;
  overflow: hidden;
  overflow-x: auto;
}

.sub-collection {
  height: 33vh;
  min-height: 200px;
}
.biography {
  height: 10vh;
  min-height: 60px;
}
.time-labels {
  height: 40px;
}
