.loc-header {
  border-bottom: 3px solid var(--bg-base-lightest);
}

.main-content {
  background-color: rgb(102, 71, 32);
  color: var(--text-base-lightest);
  position: relative;
  padding: 0;
}

.main-content button {
  background-color: rgba(255, 255, 255, 0.2);
}
.main-content button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-content a,
.main-content a:visited {
  color:rgb(252, 183, 98);
}
.main-content a:hover {
  color:rgb(254, 218, 173);
}

.app {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  height: calc(100vh - 100px);
}
.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 27, 12);
  padding: 40px;
  box-sizing: border-box;
  font-size: 2rem;
  text-align: center;
}
.intro p {
  margin: 0 0 0.8rem;
  max-width: 1000px;
}
.intro button {
  padding: 0.4rem 0.8rem;
}
.intro .loading {
  display: none;
}
.intro .loaded {
  display: block;
}
.is-loading .intro .loading {
  display: block;
}
.is-loading .intro .loaded {
  display: none;
}
.app,
.intro {
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.intro.active,
.app.active {
  opacity: 1;
  z-index: 10;
}

.facets {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.333);
  border-right: 2px solid rgba(255, 255, 255, 0.333);
  overflow: hidden;
  overflow-y: auto;
  padding: 6px;
}
.facets label {
  color: rgba(255, 255, 255, 0.667);
  letter-spacing: 1px;
}
.facets .facet {
  margin-bottom: 1rem;
}
.facets select {
  width: 100%;
  overflow: hidden;
}

.visualization {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
}
.visualization .words {
  flex-grow: 1;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.667);
  overflow: hidden;
  overflow-y: auto;
}
.words .word {
  margin: 0 6px 6px 0;
}
.visualization .timeline {
  flex-basis: 80px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  border-top: 2px solid rgba(255, 255, 255, 0.333);
  overflow: hidden;
  position: relative;
}
.timeline button.year {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 25%;
}
.timeline button.year.selected {
  background:rgb(141, 33, 33);
}
.timeline .year-label {
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  bottom: 2%;
}
.timeline .year-label .text {
  position: absolute;
  left: 50%;
  width: 28px;
  margin-left: -14px;
  bottom: 0;
}

.modal {
  position: absolute;
  z-index: 999;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  box-sizing: border-box;
  border: 2px solid rgb(83, 59, 30);
  background: rgb(39, 27, 12);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  display: none;
}
.modal.active {
  display: flex;
}
.modal .document {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.333);
  display: flex;
  overflow: hidden;
}
.modal .document .pane {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 12px;
  overflow: hidden;
}
.modal .document .image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.modal .document .transcript {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.modal .document .transcript strong {
  color: black;
  background-color: rgb(255, 200, 59);
  line-height: 1.5;
  font-size: 1rem;
}
.modal .buttons {
  flex-basis: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .resource-link {
  margin: 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal .close-modal {
  position: absolute;
  top: 3px;
  right: 3px;
}
