.loc-header {
  border-bottom: 3px solid var(--bg-base-lightest);
}

button path,
.button path {
  fill: var(--text-base-lightest);
}

.main-content {
  display: flex;
  align-items: stretch;
  padding: 0;
  background: var(--bg-base-darker);
  color: var(--text-base-lightest);
  overflow: hidden;
}
.timeline-labels,
.timeline,
.toolbar {
  padding-bottom: 18px;
}
.timeline-labels {
  flex-basis: 120px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  border-right: 1px solid var(--bg-base-dark);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.timeline {
  flex-grow: 1;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}
.toolbar {
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  border-left: 1px solid var(--bg-base-dark);
}

.toolbar {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.toolbar button,
.toolbar button.button + button.button {
  display: block;
  margin: 6px 0 0;
}
.toolbar .search-results {
  position: absolute;
  width: 400px;
  height: 100%;
  right: -400px;
  top: 0;
  background: var(--bg-base-lighter);
  box-sizing: border-box;
  border: 1px solid var(--bg-base-light);
  color: var(--text-base-darkest);
  padding: 12px;
  transition: right 0.5s ease-in-out;
  overflow: hidden;
  overflow-y: auto;
}
.toolbar .search-results.active {
  right: 0;
}
.search-results .close-search-results {
  position: absolute;
  top: 0;
  right: 3px;
}
.search-results .search-message {
  margin: 24px 0 10px;
}
.search-results-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.search-results-list li {
  padding: 4px 8px;
  border-bottom: 3px solid var(--bg-base-darker);
  position: relative;
}
.search-results-list li.selected {
  background: var(--bg-base-darkest);
  color: var(--text-base-lightest);
}
.search-results-list .select-item:hover {
  background: var(--bg-base-darkest);
  color: var(--text-base-lightest);
}
.search-results-list li h3,
.search-results-list li p {
  margin: 0 70px 0 0;
  font-size: 0.9rem;
}
.search-results-list li h3 {
  font-size: 0.7rem;
  color: var(--bg-base-darker);
  font-style: italic;
  font-weight: normal;
  border-bottom: 1px solid var(--bg-base-dark);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-results-list li p {
  padding: 8px 0;
}
.search-results-list li.selected h3 {
  color: var(--text-base-lightest);
}
.search-results-list li .select-item {
  position: absolute;
  right: 8px;
  top: 8px;
}
.search-results-list li.selected .select-item {
  display: none;
}
.search-results-list li strong {
  font-weight: bold;
  background: #fadf15;
  color: var(--text-base-darkest);
}

.timeline-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 2px solid var(--bg-base-dark);
  padding: 6px;
}
.timeline-label h3,
.timeline-label {
  font-size: 0.8rem;
  margin: 0;
  font-weight: normal;
}

.timeline-wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.timeline-wrapper .sub-collections {
  width: 100%;
}
.timeline-row {
  width: 100%;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  border-bottom: 2px solid var(--bg-base-dark);
}
.timeline-row button.year,
.timeline-row .year {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  border-right: 1px solid var(--bg-base-dark);
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.timeline-row.sub-collection .year {
  color: var(--bg-base);
  background: black;
}
.timeline-row button.year:hover,
.timeline-row button.year:focus {
  border: 2px solid rgba(255, 255, 255, 0.667);
  outline: none;
}
.timeline-row.years {
  background: var(--bg-base-light);
  color: var(--text-base-darkest);
  font-size: 0.7rem;
}
.timeline-row,
.timeline-label {
  flex-basis: 48px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}
.timeline-row.notes {
  position: relative;
  background: var(--bg-base-darkest);
}
.timeline-row.notes .note {
  position: absolute;
  top: 0;
  height: 20px;
  line-height: 20px;
  font-size: 0.7rem;
  white-space: nowrap;
  background: var(--bg-base-darkest);
  color: var(--bg-base-lighter);
}
.timeline-row.notes .note span {
  display: inline-block;
  vertical-align: middle;
}
.timeline-row.notes .note .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffdf40;
  margin-right: 2px;
}
.timeline-row.notes .note:nth-child(5n + 1) {
  top: 20px;
}
.timeline-row.notes .note:nth-child(5n + 2) {
  top: 40px;
}
.timeline-row.notes .note:nth-child(5n + 3) {
  top: 60px;
}
.timeline-row.notes .note:nth-child(5n + 4) {
  top: 80px;
}

.sub-collections {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.notes {
  flex-basis: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}
.years {
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 0;
}
